@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee&family=Frijole&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App > a > h1 {
  text-align: center;
  text-decoration: none;
}

.App > a {
  text-decoration: none;
  color: red;
}

input[type="text"], input[type="password"], input[type="submit"], button {
  padding: 5px;
  margin: 9px;
  background-color: rgb(233, 33, 6);
  color: white;
  border: none;
  font-size: 28px;
}

.fights {
  display: flex;
  justify-content: space-between;

}

.vs {
  font-size: 7em;
  margin: 300px auto;
  color: red;
  font-family: 'Creepster', cursive;

}

.bio {
  display: flex;
  justify-content: space-around;
  margin: 150px auto;

}

img {
  width: 1200px;
  height: 900px;
}

.caroudash {
  margin: 50px auto
}

.biotxt{
  text-align: left;
  margin: 0px 350px 0px 350px;
}

 .oldfightsdiv {
  margin: 20px 0px 20px 0px;
 }

 #win {
   background-color: rgb(0, 255, 0);
   margin: 0px 50px 10px 50px; 
   padding: 5px 2px 5px 2px;
 }

 #maincardtxt {
   margin: 50px 0px 50px 0px;
 }


 .dc{
   width: 100%;
   height: auto;
 }
 
 #originaltxt{
   margin: 20px auto;
   font-family: 'Audiowide', cursive;
   font-size: 3em;

 }

.nounderline {
  text-decoration: none !important;
  color: black;

}

.statstbl{
  margin: 40px 20px 10px 20px;
}

.navheads {
  display: flex;
  justify-content: space-around;
}


nav {
  margin: 60px auto;
}

#logoutbtn {
  background-color: red;
  margin: 0px 0px 0px 1450px;
}



#navtxt {
  font-family: 'Frijole', cursive;

}

#navbtn {
  background-color: black;
  box-shadow: 2px 5px #202020;

  

}

#navbtn:hover {
  background-color: gray;
}

#dashtxt, #biotxt, #pasttxt, #statstxt
{
  font-family: 'Bungee', cursive;
  font-size: 4em;
  text-shadow: 2px 2px 8px #000000;

}


#ufctxt, #ufctxt:hover {
  text-shadow: 4px 4px 12px #FF0000;
  color: red;
  font-family: 'Sigmar One', cursive;
  font-size: 7em;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: black;
  
}

#prmpt1txt {
  font-size: 4em;
  color: rgb(255, 0, 0);
  font-weight: bold;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-family: 'Bungee', cursive;

}

.carousel-caption{
  position: absolute;
  top: 450px;
}


#prmpt2txt {
  font-size: 15em;
  color: rgb(255, 0, 0);
  font-weight: bold;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-family: 'Sigmar One', cursive;
}

.talk {
  display: flex;
}

#fannotes {
  border-style: solid;
  border-width: 5px; 
  height: 100px;
  width: 500px;
  
}

ul {
  list-style-type: none;

}

#fantxt {
  font-style: italic;
  color: red;
}

.fansnotehl {
  margin: 100px 0px 70px 0px;
  background-color: rgb(216, 216, 216);
  padding: 30px 0px 30px 0px
}

#fansnotehltxt
{
  font-family: 'Audiowide', cursive;
  font-size: 3rem;

}

@media only screen and (max-width: 748px) {

   nav {
    color: red;
    display: flex;
    flex-direction: column;
    margin: 0px -70px 25px 150px;

  }
  [class*="dashdiv"]{
    margin: 200px -300px 0px 90px;
  }

  [id*="ufctxt"] {
    margin: 0px -400px 0px 45px;

  }

  [class*="pastmaindiv"] {
    margin: 0px -300px 0px 90px;

  }

  #statstxt {
    margin: 0px -100px 25px 300px;

  }

  div > Table{
    margin: 0px 500px 0px 20px;
}

#logoutbtn {
  background-color: rgb(4, 0, 255);
  margin: 0px -100px 0px 120px;
}

  [class*="biodiv"] {
    margin: 0px -250px 25px 150px;

  }

  [class*="biotxt"] {
    display: inline-block;
    text-align: none;
 
    margin: 0px -60px 25px 80px;
 
  }

  [class*="watchbio"] {
    margin: 0px -250px 25px 150px;

  }

  [class*="carousel-caption"] {
    margin: 300px -350px 0px 0px;

  }

}

@media only screen and (max-width: 1576px) {

  nav {
   color: red;
   display: flex;
   flex-direction: column;
   margin: 0px -70px 25px 150px;

 }
 [class*="dashdiv"]{
   margin: 100px -300px 0px 90px;
 }

 [id*="ufctxt"] {
   margin: 0px -400px 0px 45px;

 }

 [class*="pastmaindiv"] {
   margin: 0px -300px 0px 90px;

 }

 #statstxt {
   margin: 0px -100px 25px 300px;

 }

 div > Table{
   margin: 0px 500px 0px 20px;
}

#logoutbtn {
 background-color: rgb(4, 0, 255);
 margin: 0px -100px 0px 120px;
}

 [class*="biodiv"] {
   margin: 0px -250px 25px 150px;

 }

 [class*="watchbio"] {
   margin: 0px -250px 25px 150px;

 }

 [class*="carousel-caption"] {
   margin: 300px -350px 0px 0px;

 }

}

@media only screen and (max-width: 375px) {

  nav {
   color: red;
   display: flex;
   flex-direction: column;
   margin: 0px -70px 25px 150px;

 }
 [class*="dashdiv"]{
   margin: 100px -300px 0px 90px;
 }

 [id*="ufctxt"] {
   margin: 0px -400px 0px 45px;

 }

 [class*="pastmaindiv"] {
   margin: 0px -300px 0px 90px;

 }

 #statstxt {
   margin: 0px -100px 25px 300px;

 }

 div > Table{
   margin: 0px 500px 0px 20px;
}

#logoutbtn {
 background-color: rgb(4, 0, 255);
 margin: 0px -100px 0px 120px;
}

 [class*="biodiv"] {
   margin: 0px -250px 25px 5px;

 }

 #biotxt {
  margin: 0px -155px 25px 2px;

 }

 [class*="biotxt"] {
   display: inline-block;
   text-align: none;

   margin: 0px -60px 25px 80px;

 }



 [class*="watchbio"] {
   margin: 0px -450px 25px 2px;

 }

 #imgbio {
  margin: 0px -250px 25px -120px;

 }

 #namebio {
  margin: 0px -250px 5px -100px;

 }

 [class*="carousel-caption"] {
   margin: 300px -350px 0px 0px;

 }

}

@media only screen and (max-width: 1024px) {

  nav {
   color: red;
   display: flex;
   flex-direction: column;
   margin: 0px -70px 25px 150px;

 }
 [class*="dashdiv"]{
   margin: 100px -300px 0px 90px;
 }

 [id*="ufctxt"] {
   margin: 0px -400px 0px 45px;

 }

 [class*="pastmaindiv"] {
   margin: 0px -300px 0px 90px;

 }

 #statstxt {
   margin: 0px -100px 25px 300px;

 }

 div > Table{
   margin: 0px 500px 0px 60px;
}

#logoutbtn {
 background-color: rgb(4, 0, 255);
 margin: 0px -100px 0px 120px;
}

 [class*="biodiv"] {
   margin: 0px -250px 25px 5px;

 }

 #biotxt {
  margin: 0px -150px 25px 5px;

 }

 [class*="biotxt"] {
   display: inline-block;
   text-align: none;

   margin: 0px -60px 25px 80px;

 }



 [class*="watchbio"] {
   margin: 0px -450px 25px 2px;

 }

 #imgbio {
  margin: 0px -250px 25px -100px;

 }

 #namebio {
  margin: 0px -250px 5px -100px;

 }

 [class*="carousel-caption"] {
   margin: 300px -350px 0px 0px;

 }

}

