@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee&family=Frijole&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav Styling */
/* nav {
  display: left;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px;
} */

.App > a > h1 {
  text-align: center;
  text-decoration: none;
}

.App > a {
  text-decoration: none;
  color: red;
}
/* FORM STYLIN */

input[type="text"], input[type="password"], input[type="submit"], button {
  padding: 5px;
  margin: 9px;
  background-color: rgb(233, 33, 6);
  color: white;
  border: none;
  font-size: 28px;
}

.fights {
  display: flex;
  justify-content: space-between;

}

.vs {
  font-size: 7em;
  margin: 300px auto;
  color: red;
  font-family: 'Creepster', cursive;

}

.bio {
  display: flex;
  justify-content: space-around;
  margin: 150px auto;

}

img {
  width: 1200px;
  height: 900px;
}

.caroudash {
  margin: 50px auto
}

.biotxt{
  text-align: left;
  margin: 0px 350px 0px 350px;
}

 .oldfightsdiv {
  margin: 20px 0px 20px 0px;
 }

 #win {
   background-color: rgb(0, 255, 0);
   margin: 0px 50px 10px 50px; 
   padding: 5px 2px 5px 2px;
 }

 #maincardtxt {
   margin: 50px 0px 50px 0px;
 }

 /* .watchimg {
   width: 100%;
 } */

 .dc{
   width: 100%;
   height: auto;
 }
 
 #originaltxt{
   margin: 20px auto
 }

.nounderline {
  text-decoration: none !important;
  color: black;

}

.statstbl{
  margin: 40px 20px 10px 20px;
}

.navheads {
  display: flex;
  justify-content: space-around;
}

/* Button > h3 {
color: rgb(255, 255, 255);
font-family: 'Frijole', cursive;



} */

nav {
  margin: 60px auto;
}

#logoutbtn {
  background-color: red;
  margin: 0px 0px 0px 1450px;
}

/* #navbtn {
  background-color: black;
} */

#navtxt {
  font-family: 'Frijole', cursive;

}

#navbtn {
  background-color: black;
  box-shadow: 2px 5px #202020;

  

}

#navbtn:hover {
  background-color: gray;
}

#dashtxt, #biotxt, #pasttxt, #statstxt
{
  font-family: 'Bungee', cursive;
  font-size: 4em;
  text-shadow: 2px 2px 8px #000000;

}


#ufctxt, #ufctxt:hover {
  text-shadow: 4px 4px 12px #FF0000;
  color: red;
  font-family: 'Sigmar One', cursive;
  font-size: 7em;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: black;
  
}

#prmpt1txt {
  font-size: 4em;
  color: rgb(255, 0, 0);
  font-weight: bold;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-family: 'Bungee', cursive;

}

.carousel-caption{
  position: absolute;
  top: 550px;
}


#prmpt2txt {
  font-size: 15em;
  color: rgb(255, 0, 0);
  font-weight: bold;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-family: 'Sigmar One', cursive;
}